<a href="https://colab.research.google.com/github/ujwalmaradkar/Code_Quest_Assignments/blob/main/Assignment_2_Statements_Assessment_Test_Ujwal_Maradkar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Statements Assessment Test
Let's test your knowledge!

**use for loop to acess the given element of 2D list and print it**

In [ ]:
list2d = [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [ ]:
#write your code here
for i in range(0,5):
  for j in range(0,5):
    print(list2d[i][j],end = ' ')
  print()

0 0 0 0 0
0 0 0 0 0
0 0 0 0 0
0 0 0 0 0
0 0 0 0 0

**change the element in this 2d list. any kind of change you want is acceptable**

In [ ]:
#write your code here
for i in range(0,5):
  list2d[1][i] = i=i+1
for i in range(0,5):
  for j in range(0,5):
    print(list2d[i][j],end = ' ')
  print()

0 0 0 0 0
1 2 3 4 5
0 0 0 0 0
0 0 0 0 0
0 0 0 0 0

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [ ]:
st = 'Print only the words that start with s in this sentence'

In [ ]:
#Code here
for i in st.split():
    if i.startswith("s"):
        print(i,end = ' ')

start s sentence

______
**Use range() to print all the even numbers from 0 to 10.**

In [ ]:
#Code Here
for i in range (0,11):
  if(i % 2 == 0):
    print(i,end = ' ')

0 2 4 6 8 10

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [ ]:
#Code in this cell
ls = []
for i in range (0,51):
  if (i % 3 == 0):
    ls.append(i) 
print (ls)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [ ]:
#Code in this cell
for i in st.split():
 if len(i) % 2== 0:
   print(i,len(i),"even",end = '  ')

word 4 even  in 2 even  this 4 even  sentence 8 even  that 4 even  an 2 even  even 4 even  number 6 even  of 2 even

**write an example of do while loop,**

In [ ]:
#Code in this cell
# Python doesnt have do while loop 
# As it have very cool stuff like range & in fuctions, it doesnt require do_while loop

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [ ]:
#Code in this cell
for i in range(0,101):
  if(i % 3== 0 and i % 5 == 0):
    print("FizzBuzz",end = '\n')
  elif i % 3 == 0:
    print("Fizz",end = '\n')
  elif i % 5 == 0: 
    print("Buzz",end = '\n')
  
  else:
     print(i)

FizzBuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [ ]:
st = 'Create a list of the first letters of every word in this string'

In [ ]:
#Code in this cell
words = st.split()
for char in words:
  ls = char[0]
  print(list(ls),end=' ')

['C'] ['a'] ['l'] ['o'] ['t'] ['f'] ['l'] ['o'] ['e'] ['w'] ['i'] ['t'] ['s']

**Give an example of nested list comprehension**

In [ ]:
#Code in this cell
ls = [[1,2,3,4,],[5,6,7,8],[9,10,11,12]]
print(list(ls))

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

### Great Job!