<a href="https://colab.research.google.com/github/ujwalmaradkar/Code_Quest_Assignments/blob/main/Assignment_1_Objects_and_Data_Structures_Assessment_Test_Ujwal_Maradkar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Test your knowledge. 

** Answer the following questions **

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [ ]:
print(100+(10*10/4)/100)
print((100**3)**0.33352)

100.25
100.25822235150689

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5  = 29
    
    What is the value of the expression 4 + 6 * 5  = 34

In [ ]:
print(4*(6+5))
print(4*6+5)
print(4+6*5)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
= 8.5

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square
print(7*7)

49

In [ ]:
# Square:
# I would import the math library and then use the mat.sqrt() fuction
# Otherwise i hve to build the logic for finding the squareroot Or simply
print(int(49**0.5))

7

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [ ]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [ ]:
s ='hello'
# Reverse the string using slicing
print(s[-1::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [ ]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[4])

o

In [ ]:
# Method 2:
print(s[-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [ ]:
# Method 1:
lst = [0,0,0]

In [ ]:
# Method 2:
lst
lst = [0,0,0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [ ]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]= 'goodbye'

print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [ ]:
list4 = [5,3,4,6,1]

for i in range(0,5):
  for j in range(0,5):
    if list4[i] < list4[j]:
      x = list4[i]
      list4[i] = list4[j]
      list4[j] = x

print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [ ]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [ ]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d.get('k1').get('k2'))

hello

In [ ]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d.get('k1')[0].get('nest_key')[1])

['hello']

In [ ]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

Can you sort a dictionary? Why or why not?<br><br>
It is so complex and not getting the way from where to start

## Tuples

**What** is the major difference between tuples and lists?<br><br>

List elements can be modified, that is list is mutable
and in Tuples, after assigning values to tuple one can not modify, chage or manipulate the elements of Tuple that is Tuples are Immutable

How do you create a tuple?<br><br>

Just by adding elements in simple paranthesis '()'
Or just by assignig many values to a single varible in front of '=' seperated by commas

## Sets

What is unique about a set?<br><br>
 Set is an unordered collection with no duplicate elements.

Use a set to find the unique values of the list below:

In [ ]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [ ]:
# Answer before running cell
2 > 3
#False

False

In [ ]:
# Answer before running cell
3 <= 2
# Flase

False

In [ ]:
# Answer before running cell
3 == 2.0
# False

False

In [ ]:
# Answer before running cell
3.0 == 3
#True

True

In [ ]:
# Answer before running cell
4**0.5 != 2
# False

False

Final Question: What is the boolean output of the cell block below?

In [ ]:
# two nested lists
l_one = [1,2,[3,4]] 
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
#False

False

## Great Job on your first assessment!