<a href="https://colab.research.google.com/github/ujwalmaradkar/Code_Quest_Assignments/blob/main/Assignment_04_CODEQUEST_Functions_and_Methods_Homework_Ujwal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [ ]:
def vol(rad):
   return ((4/3)*22/7*rad*rad*rad)

In [ ]:
# Check
vol(2)

33.523809523809526

**Write a Python function to find the Max of three numbers (dont use max() function )**

In [ ]:
def maximum(num1, num2, num3):
  if num1>num2 and num1>num3:
    return num1
  elif num2>num1 and num2>num3:
    return num2
  else:
    return num3

In [ ]:
maximum(1,2,4)

4

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [ ]:
def ran_check(num,low,high):
   if num in range (low,high+1):
     return print("{} is     in the range between {} and {}".format(num,low,high))

In [ ]:
# Check
ran_check(5,2,7)

5 is     in the range between 2 and 7

If you only wanted to return a boolean:

In [ ]:
def ran_bool(num,low,high):
  if num in range(low,high+1):
    return True
  else:
    return False

In [ ]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [ ]:

def up_low(s):
  d={"UPPER_CASE":0, "LOWER_CASE":0}
  for c in s:
    if c.isupper():
      d["UPPER_CASE"]+=1
    elif c.islower():
      d["LOWER_CASE"]+=1
    else:
      pass
  print ("Original String : ", s)
  print ("No. of Upper case characters : ", d["UPPER_CASE"])
  print ("No. of Lower case Characters : ", d["LOWER_CASE"])

In [ ]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [ ]:
def unique_list(lst):
  x = []
  for a in lst:
    if a not in x:
      x.append(a)
  return x

In [ ]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

**Write a Python function to create and print a list where the values are square of numbers between 1 and 30 (both included)**

In [ ]:
def squre_vals():
  ls = []
  for i in range (1,31):
    ls.append(i*i)
  return ls

In [ ]:
squre_vals()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900]

**Write a recursive function to calculate the sum of numbers from 0 to 10**

In [ ]:
def recurSum(n): 
    if n <= 1: 
        return n 
    return n + recurSum(n - 1)

In [ ]:
recurSum(5)

15

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [ ]:

def multiply(numbers):  
  res = 1
  for i in numbers:
    res = res * i
  return res

In [ ]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [ ]:
def palindrome(s):
  return s == s[::-1]

In [ ]:
palindrome('helleh')

True

**Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument**

In [ ]:
def factorial(num):
  res = 1
  for i in range(1,num+1):
    res = res * i
  return res

In [ ]:
factorial(5)

120

____
#### Hard:

**Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: You may want to use .replace() method to get rid of spaces.

Hint: Look at the [string module](https://stackoverflow.com/questions/16060899/alphabet-range-in-python)

Hint: In case you want to use [set comparisons](https://medium.com/better-programming/a-visual-guide-to-set-comparisons-in-python-6ab7edb9ec41)

In [ ]:
import string

def ispangram(str):
  alphabet = "abcdefghijklmnopqrstuvwxyz"
  for char in alphabet:
    if char not in str.lower(): 
      return False
  
  return True

In [ ]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [ ]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

#### Great Job!